@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --White: hsl(0, 0%, 100%);
    --Off-white: hsl(0, 0%, 94%);
    --Light-grey: hsl(0, 0%, 86%);
    --Smokey-grey: hsl(0, 1%, 44%);
    --Off-black: hsl(0, 0%, 8%);
    
--Purple: hsl(259, 100%, 65%);
--Light-red: hsl(0, 100%, 67%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--Off-white);
}
#card{
    width: 700px;
    height: 550px;
    background-color: var(--White);
    padding: 35px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 150px;

}
.Input{
    display: flex;
    gap: 25px;
    margin-bottom: 10px;

}

label{
    color: var(--Smokey-grey);
    font-weight: 600;
    font-size: 12px;
}
input{
    width: 150px;
    padding: 10px;
    font-weight: 700;
    font-size: 32px;
    border: 1px solid var(--Light-grey);
    border-radius: 10px;
    outline: none;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
hr{
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}
button{
border: none;
border-radius: 50%;
background-color: var(--Purple);
padding: 10px;
border-radius: 50%;
font-size: 10px;
color: white;
cursor: pointer;
padding: 1rem;

}
.day-output{
    display: flex;
    gap: 10px;
}
.day-output p{
    font-weight: 900;
    font-size: 65px;
    font-style: italic;
}
.out{
    color: var(--Purple);
}

@media (max-width:600px) {
    #card{
        width: 350px;
        height: 500px;
        padding: 35px;
        border-bottom-right-radius: 100px;
    
    }
    input{
        width: 80px;
        padding: 10px;
        font-weight: 700;
        font-size: 20px;
       
    }
    .day-output p{
        font-size: 50px;
    }
    .output{
        margin-top: 40px;
    }
   

    button{

        position: absolute;
        top: 37%;
        left: 50%;
        transform: translate(-50%,-50%);
        
       
    }
    img{
        width: 20px;
        height: 20px;
        color: var(--White);
        
    }
    .mid{
        margin-top: 50px;
    }
    
}
#Day-out
{
    font-size: 13px;
    color: red;
    margin-top: 2px;
    display: none;

}
#Month-out{
    font-size: 13px;
    color: red;
    margin-top: 2px;
    display: none;
}
#Year-out{
    font-size: 13px;
    color: red;
    margin-top: 2px;
    display: none;
}
